<div class="">
  <h2 class="m-b-0 m-t-0">
    {{ model.title }}
    <a class="actions btn btn-primary btn-rounded pull-right" title="Download JSON" (click)="generateDownloadJson($event)" [href]="downloadJsonHref" download="download.json">
      <i class="icon-share-alt"></i>
    </a>
    <a [routerLink]="['/snippet/edit', {id: model._id}]" class="actions btn btn-primary btn-rounded pull-right">
      <i class="icon-pencil"></i>
    </a>
    <div class="clearfix"></div>
    <span
        class="label label-success font-weight-100"
        *ngFor="let tag of model.tags"
    >
      {{ tag.name }}
    </span>
    <span class="label label-success pull-right">{{ model.cantViews }}</span>
    <div class="clearfix"></div>
  </h2>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div #markdown></div>
    </div>
  </div>
</div>
