<!-- Preloader -->
<div class="preloader" *ngIf="!(appReady$|async)">
  <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper" *ngIf="appReady$|async">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
      <div class="top-left-part">
        <a class="logo" routerLink="dashboard">
          Snippets
        </a>
      </div>
      <div class="nav navbar-top-links navbar-right pull-right">
        <a routerLink="/snippet/new" class="btn btn-block btn-warning btn-rounded">
          Create Snippet
        </a>
      </div>
    </div>
  </nav>
  <!-- Page Content -->
  <div id="apage-wrapper" style="background-color: #edf1f5">
    <div class="container-fluid content-wrapper">
      <div class="preloader pagerReady" [hidden]="pageReady$|async">
        <div class="cssload-speeding-wheel"></div>
      </div>
      <router-outlet></router-outlet>
    </div>
    <!-- /.container-fluid -->
    <footer class="footer text-center"> 2017 &copy; Renier Ricardo Figueredo (aprezcuba24@gmail.com) </footer>
  </div>
  <!-- /#page-wrapper -->
</div>