<!-- Preloader -->
  <!-- <div class="preloader">
    <div class="cssload-speeding-wheel"></div>
  </div> -->
<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
      <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse">
          <i class="ti-menu"></i>
        </a>
      <div class="top-left-part">
        <a class="logo" href="#">
            Snippets
          </a>
      </div>
      <ul class="nav navbar-top-links navbar-left hidden-xs">
        <li>
          <a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light">
              <i class="icon-arrow-left-circle ti-menu"></i>
            </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Left navbar-header -->
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
      <ul class="nav" id="side-menu">
        <li>
          <a href="#" class="waves-effect active">
              <i class="linea-icon linea-basic fa-fw" data-icon="v"></i>
              <span class="hide-menu">
                E-commerce
                <span class="fa arrow"></span>
                <span class="label label-rouded label-custom pull-right">7</span>
              </span>
            </a>
          <ul class="nav nav-second-level">
            <li>
              <a href="#">Dashboard</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- Left navbar-header end -->
  <!-- Page Content -->
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">Ecom-Dashboard</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li class="active">Ecom-Dashboard</li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="white-box">
           88 {{ title$|async }} {{ otro }} 99
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
    <footer class="footer text-center"> 2016 &copy; Elite Admin brought to you by themedesigner.in </footer>
  </div>
  <!-- /#page-wrapper -->
</div>